<html><body><h3>HPC identity management</h3>
<p>To log in via AAF authentication, connect to <a href=https://hpc.erc.monash.edu.au/aafbootstrap>aafbootstrap</a></p>
<p>To log in without AAF authentication, connect to <a href=https://hpc.erc.monash.edu.au/users>users</a></p>
</body></html>
