#!/usr/bin/python

import os
os.environ['DJANGO_SETTINGS_MODULE'] = "karaage.conf.settings"

import sys, traceback
from django.contrib.auth.models import User
from django.db.models import Q
from karaage.people.models import Person, Group
import karaage.people.managers
from karaage.people.forms import AddPersonForm, AdminPersonForm, PersonForm
from karaage.projects.models import Project
from karaage.machines.models import MachineCategory
import logging
from django.conf import settings
from karaage.institutes.models import Institute, InstituteDelegate
from karaage.machines.models import Account

from karaage.people.models import Person, Group
import django
django.setup()

def addAdminRole(username):
    try:
        person = Person.objects.get(username = username)
        if person and person.is_admin == False:
            person.is_admin = True
            person.save()
        print "User %s has been added to admin role" %(username)
    except Person.DoesNotExist:
        print "User %s does not exist" %(username) 
    except:
        print "Exception %s" % traceback.format_exc()

def usage():
    print "Usage: add_admin <username>"

def main(argv):
    if len(sys.argv) < 2:
        usage() 
    else:
    	username = argv[0]
        if not username: 
            print "Invalid user name"
        addAdminRole(username) 
            

if __name__ == '__main__':
    main(sys.argv[1:])

