[sssd]
config_file_version = 2
domains = {{ ldapDomain }}
services = nss, pam, autofs

[nss]
filter_users = root, slurm, munge
filter_groups = slurm, munge

[pam]

[domain/{{ ldapDomain }}]
ldap_referrals = false
cache_credentials = false
entry_cache_timeout=60480
memcache_timeout=60480
entry_cache_nowait_percentage=50
enumerate = true

id_provider = ldap
auth_provider = ldap
chpass_provider = ldap
access_provider = ldap

ldap_uri = {{ ldapURI }} 
ldap_id_use_start_tls = True
ldap_tls_reqcert = allow 
ldap_tls_cacert = {{ ldapCaCertFile }}
ldap_default_bind_dn = {{ ldapBindDN }} 
ldap_default_authtok_type = password
ldap_default_authtok = {{ ldapBindDNPassword }} 
ldap_access_filter = {{ ldap_access_filter }}

{{ ldapRfc2307 }}

[ssh]

[pac]

[sudo]

