---
-
 name: "Copying the shibboleth files"
 template: src=files/{{ item }} dest="/etc/shibboleth/{{ item }}" mode=0644
 sudo: true
 with_items:
   - "{{ shibboleth_file.aaf }}"
   - "{{ shibboleth_file.cert }}"
 when: shibboleth_file is defined

- 
  name: "Setting shibboleth2.xml sp.example.org"
  sudo: true
  replace: 
  args:
   dest: /etc/shibboleth/shibboleth2.xml 
   regexp: sp.example.org 
   replace: "{{ ansible_fqdn }}"
   backup: yes
   
  
- 
  name: "Setting shibboleth2.xml handlerSSL"
  sudo: true
  replace: 
  args:
   dest: /etc/shibboleth/shibboleth2.xml 
   regexp: 'handlerSSL="false"' 
   replace: 'handlerSSL="true"   handlerURL="https://{{ ansible_fqdn }}/Shibboleth.sso"' 
   

- 
  name: "Setting shibboleth2.xml supportContact"
  sudo: true
  replace: 
  args:
   dest: /etc/shibboleth/shibboleth2.xml 
   regexp: 'supportContact="root@localhost"' 
   replace: 'supportContact="{{ admin_email }}"'
   

- 
  name: "Enabling MetadataProvider"
  sudo: true
  replace: 
  args:
   dest: /etc/shibboleth/shibboleth2.xml 
   regexp: '<!-- Example of remotely supplied batch of signed metadata. -->\s+<!--\s+<MetadataProvider' 
   replace: '<!-- Example of remotely supplied batch of signed metadata. -->\n\t<MetadataProvider'
   
- 
  name: "Enabling MetadataProvider"
  sudo: true
  replace: 
  args:
   dest: /etc/shibboleth/shibboleth2.xml 
   regexp: '</MetadataProvider>\s+-->' 
   replace: '</MetadataProvider>'
- 
  name: "Setting shibboleth2.xml Federation URI"
  sudo: true
  replace: 
  args:
   dest: /etc/shibboleth/shibboleth2.xml 
   regexp: 'uri="http://federation.org/federation-metadata.xml"' 
   replace: 'uri="{{ aaf_federation_url }}/metadata.aaf.signed.complete.xml"'
   
- 
  name: "Setting shibboleth2.xml backingFilePath"
  sudo: true
  replace: 
  args:
   dest: /etc/shibboleth/shibboleth2.xml 
   regexp: 'backingFilePath="federation-metadata.xml"' 
   replace: 'backingFilePath="metadata.aaf.xml"'
   
- 
  name: "Setting shibboleth2.xml aaf Certificate"
  sudo: true
  replace: 
  args:
   dest: /etc/shibboleth/shibboleth2.xml 
   regexp: 'type="Signature" certificate="fedsigner.pem"' 
   replace: 'type="Signature" certificate="aaf-metadata-cert.pem"'
   
- 
  name: "Setting shibboleth2.xml AAF Discovery URL"
  sudo: true
  replace: 
  args:
   dest: /etc/shibboleth/shibboleth2.xml 
   regexp: 'discoveryURL="https://ds.example.org/DS/WAYF"' 
   replace: 'discoveryURL="{{ aaf_discovery_url }}"'
   
- 
  name: "Setting shibboleth2.xml Credential Resolver"
  sudo: true
  replace: 
  args:
   dest: /etc/shibboleth/shibboleth2.xml 
   regexp: '<CredentialResolver type="File" key="sp-key.pem" certificate="sp-cert.pem"/>' 
   replace: '<CredentialResolver type="File" key="{{ x509_key_file }}" certificate="{{ x509_cert_file }}"/>'

-
 name: "Templating attribute-map.xml"
 sudo: true
 template:
 args:
   src: attribute-map.xml.j2
   dest: /etc/shibboleth/attribute-map.xml
 notify:
   - Restarting Apache
   - Restarting shibboleth
-
 name: "Copy shib.conf"
 sudo: true
 template: src=shib.conf dest="/etc/apache2/conf-available/shib.conf" mode=0644
-
 name: "Link shib.conf"
 sudo: true
 file: src=/etc/apache2/conf-available/shib.conf path=/etc/apache2/conf-enabled/shib.conf state=link 
 notify: Restarting Apache

-
 name: "Starting Apache"
 sudo: true
 service: name=apache2 state=started

-
 name: "Starting shibboleth"
 sudo: true
 service: name=shibd state=started
