{% for export in exportList %}
{{ export.src }} {% for group_name in group_list %}{% for node in  groups[group_name] %}{% for interface_name in interface_list %}{{ hostvars[node]['ansible_'+interface_name]['ipv4']['address'] }}(rw,sync,root_squash) {% endfor %}{% endfor %}{% endfor %}

{% endfor %}
