{% for export in exportList %}
{{ export.src }} {% for group in groupList %}{% for node in  groups[group.name] %}{% for interface_name in group.interfaces %}{{ hostvars[node]['ansible_'+interface_name]['ipv4']['address'] }}(rw,sync,root_squash) {% endfor %}{% endfor %}{% endfor %}

{% endfor %}
