--[[

 Example lua script demonstrating the SLURM job_submit/lua interface.
 This is only an example, not meant for use in its current form.

 Leave the function names, arguments, local varialbes and setmetatable
 set up logic in each function unchanged. Change only the logic after
 the lSUCCESSine containing "*** YOUR LOGIC GOES BELOW ***".

 For use, this script should be copied into a file name "job_submit.lua"
 in the same directory as the SLURM configuration file, slurm.conf.

--]]

function slurm_job_submit(job_desc, part_list, submit_uid)

      if (job_desc.gres and string.find(job_desc.gres,"gpu")) then
         slurm.log_info("generic resource GPU")
         job_desc.partition = "vis" 
         return slurm.SUCCESS
      end
end

function slurm_job_modify(job_desc, job_rec, part_list, modify_uid)
	return slurm.SUCCESS
end


log_msg = slurm.log_info
log_verbose = slurm.log_verbose
log_debug = slurm.log_debug
log_err = slurm.error
log_user = slurm.log_user 

return slurm.SUCCESS
