dn: ou=policies,dc=example,dc=org
objectClass: organizationalUnit

dn: ou=Accounts,dc=example,dc=org
objectClass: organizationalUnit

dn: ou=Groups,dc=example,dc=org
objectClass: organizationalUnit

dn: cn=default,ou=policies,dc=example,dc=org
objectClass: top
objectClass: device
objectClass: pwdPolicy
pwdAttribute: userPassword
