*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [3876421698:11303590692860]
:OpenVPN-INPUT - [0:0]
-A INPUT -i tun0 -j OpenVPN-INPUT
-A FORWARD -j OpenVPN-INPUT

# Start adding the Rules
#-A OpenVPN-INPUT -p tcp -m tcp -i tun0 -s {{ nfs_network }} -j ACCEPT

-P INPUT -i tun0 -j ACCEPT
COMMIT
