{% set nodelist = [] %}
{% for node in groups['all'] %}
{% for interface in hostvars[node]['ansible_interfaces'] %}
{% if interface != "lo" %}
{% set host = {'name': node, 'ip': hostvars[node]['ansible_'+interface]['ipv4']['address'], 'rsa': hostvars[node]['ansible_ssh_host_key_rsa_public']} %}
{% if nodelist.append(host) %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

{% for host in nodelist|unique %}
{{ host.ip }} ssh-rsa {{ host.rsa }}
{{ host.name }} ssh-rsa {{ host.rsa }}
{% endfor %}
