#!/bin/bash

HOME_DIR={{ home_dir }}
user_list=($(getent passwd | cut -d ":" -f1))
log_file="/root/slurm.log"

for user in ${user_list[*]}; do
    {% if project_check is defined %}
        run=$(id ${user} | grep {{ project_check }})
    {% else %}
        run="1"
    {% endif %}
    if [ ! -z "${run}" ]; then
        uid=$(id -u ${user})
        gid=$(id -g ${user})
        user_home=${HOME_DIR}/${user}
        if [[ ! -d ${user_home} && ${uid} -gt 1000 ]]; then
            cp -r /etc/skel ${user_home}
            chown -R ${uid}:${gid} ${user_home}
            chmod 700 ${user_home}

            account={{ projectname }}
            cluster={{ clustername }}

            find=$(sacctmgr list cluster ${cluster} | grep ${cluster})
            if [ -z "${find}" ]; then
                su slurm -c "sacctmgr -i add cluster ${cluster}" || { echo "error to create cluster ${cluster}" >> ${log_file} && exit 1; }
            fi
            find=$(sacctmgr list account ${account} | grep ${account})
            if [ -z "${find}" ]; then
                su slurm -c "sacctmgr -i add account ${account} Description=CVL Organization=monash cluster=${cluster}" || { echo "error to create account ${account}" >> ${log_file} && exit 1; }
            fi
            find=$(sacctmgr list user ${user} | grep ${user})
            if [ -z "${find}" ]; then
                su slurm -c "sacctmgr -i add user ${user} account=${account} cluster=${cluster}" || { echo "error to create user ${user}" >> ${log_file} && exit 1; }
            fi
        fi
    fi
done


