dn: cn=config
replace: olcTLSCACertificateFile
olcTLSCACertificateFile: {{ cacert }}
-
replace: olcTLSCertificateFile
olcTLSCertificateFile:  {{ ldapcert }}
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: {{ ldapkey }}
