dn: cn=config
replace: olcTLSCACertificateFile
olcTLSCACertificateFile: {{ ldapCAChainDest }}
-
replace: olcTLSCertificateFile
olcTLSCertificateFile:  {{ ldapCertDest }}
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: {{ ldapKeyDest }}
